{% extends "base.twig" %}
{% block body %}

    <div class="container">
        <div class="mb-4 mt-3"><h4>Edit comments</h4></div>
        <form method="post" action="/edit-comment" >
            <div class="form-group">
                <label for="title">Text</label>
                <input type="text" name="text" class="form-control" id="text" value="{{ text }}" placeholder="{{ text }}">
            </div>
            <input type="hidden" name="url" value="{{ url}}">
            <input type="hidden" name="id" value="{{ id}}">
            <button type="submit" class="btn btn-primary">add</button>
        </form>

    </div>


{% endblock %}