<div class="container">
    <footer class ="footer  mt-5">
         <ul class="nav justify-content-end">
            <li class="nav-item">
                <a class="nav-link disabled" href="https://bootstrap-4.ru/docs/5.1/getting-started/introduction/">Bootstrap</a>
            </li>

            <li class="nav-item">
                <a class="nav-link disabled" href="https://www.slimframework.com/">Slim</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="https://twig.symfony.com/">Twig</a>
            </li>
             <li class="nav-item">
                 <a class="nav-link disabled" href="https://getcomposer.org/">Composer</a>
             </li>
        </ul>
    </footer>
</div>