{% extends "base.twig" %}
{% block body %}

<div class="container">
{% set group = 0 %}
{% for art in articles %}
    {% if group == 0 %}
        <div class="container row mb-2">
    {% endif %}
    <div class="p-2">
        <div class="card h-100 " style="width: 18rem;">
            <img src="https://dummyimage.com/400x225/89a0a1/ffffff" class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{ art.title }}</h5>
                <p class="card-text">{{ art.content|slice(0,70) }}...</p>
                <a href="/article/{{ art.url  }}">view</a>
                <p class="card-text"><small class="text-muted">{{ art.date|date("Y-m-d") }}</small></p>
            </div>
        </div>
    </div>

    {% if group == 2 %}
        </div>
    {% endif %}
    {% set group = group+1 %}
    {% if group == 3 %}
        {% set group = 0 %}
    {% endif %}

{% endfor %}
</div>

{% endblock %}
